<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EazySkool</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="script.js" defer type="module"></script>
    <link rel="stylesheet" href="/stylesheets/landing.css">

</head>
<body>
    <header>
        <div class="logo">
            <h2>EazySkool</h2>
        </div>
        <nav>
            <a href="/about">About</a>
            <a href="/login">Sign In</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="left-section">
                <div class="text-content">
                    <h1>EazySkool</h1>
                    <h3>Student</h3>
                    <h3>Dashboard</h3>
                    <h3>System</h3>
        
                </div>
            </div>        
            
            <div class="button-container">
                    <button class="fancy" id="get-started-btn">
                        <span class="top-key"></span>
                        <a href="/signup" target="_blank" id="">Let's Get Started</a>
                        <span class="bottom-key-1"></span>
                        <span class="bottom-key-2"></span>
                    </button>
                </div>
            </div>

</body>
</html>